<ion-view title="About App" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="aboutApp-heading2" style="color:#000000;" class=" ">Elisera</h1>
        <p id="aboutApp-markdown1" style="color:#000000;text-align:justify;" class=" ">Our application uses the approach of using smart phone as keys with the integration of blockchain, and eliminating or minimizing the usage of hotel keycards to bring hotel customers convenience while saving the environment and taking care of the
            security of their payments and data.</p>
        <h1 id="aboutApp-heading3" style="color:#000000;" class=" ">Our Team</h1>
        <ion-list id="aboutApp-list6" class=" ">
            <ion-item id="aboutApp-list-item14" class="  ">1. Tan De Yi</ion-item>
            <ion-item id="aboutApp-list-item15" class="  ">2. Gary Tham</ion-item>
            <ion-item id="aboutApp-list-item16" class="  ">3. Callie Heng</ion-item>
        </ion-list>
    </ion-content>
</ion-view>